/* Topbar Styling */
.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2c3e50;
    padding: 15px;
    position: fixed;
    top: 0;
    left: 70px; /* the sidebar width */
    right: 0;
    height: 50px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    z-index: 0.5;
}

/* Topbar Items */
.topbar div {
    flex: 1;
    text-align: center;
    color: white;
    font-weight: bold;
    cursor: pointer;
    padding: 10px 15px;
    transition: background 0.3s ease, transform 0.2s ease;
    border-radius: 5px;
}

/* Hover and Active Effects */
.topbar div:hover {
    background-color: #34495e;
    transform: scale(1.05);
}

.topbar div.active {
    background-color: #1abc9c;
    color: white;
}

/* Body Content Adjusted for Fixed Topbar */
.menu-body {
    margin-top: 70px;
    padding: 20px;
}


.search-bar input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 4px;
    border: 1px solid #ccc;
  }
  
  .table-container table {
    width: 100%;
    border-collapse: collapse;
    width: 80%;
  }
  
  .table-container th, .table-container td {
    padding: 10px;
    border: 1px solid #ddd;
  }
  
  .table-container tr:hover {
    background-color: #777;
  }

th {
    background-color: #111;
}

tr {
    background-color: #444;
}